.facebook
  text-align: center
  position: relative

.facebook__stars
  unicode-bidi: bidi-override
  color: #fff
  font-size: 4rem
  position: relative
  padding: 0
  display: inline-block
  @include breakpoint (small down)
    font-size: 3rem

.facebook__loader
  position: absolute
  left: 50%
  top: 40px
  margin-left: -20px
  height: 40px
  width: 40px
  background: url('../images/loading.gif') 50% no-repeat
  z-index: 2

.facebook__stars--top
  color: #3b5998
  padding: 0
  position: absolute
  z-index: 1
  display: block
  top: 0
  left: 0
  overflow: hidden

.facebook__stars--bottom
  padding: 0
  display: block
  z-index: 0

.facebook__review
  padding: calculate-rem(8px)

#js-facebook-review-container
  display: none

[data-aos="rating"]
  width: 0
