.section
  position: relative
  padding: 2rem 0
  @include breakpoint(menu-collapse down)
    padding: 1rem 0

.section--secondary
  padding: 4rem 0
  @include breakpoint(menu-collapse down)
    padding: 2rem 0
