// image scales -> width = 90vw -> calculate height to retain aspect ratio
// height needed due to absolute positioned children


.cross-fader
  $height: 689px / 1440px * 90vw
  position: relative
  max-height: 689px
  height: $height


.cross-fader__image
  max-width: 100%
  position: absolute
  top: 0
  left: 0
  transition: opacity 2s
