mixin 3-col-boxes(path, boxes)
  .row
    for box in boxes
      .column.large-4.medium-6.small-12
        .box
          h2.box__title= box.title
          - const alt = box.src.split(".")[0].split("_").join(" ")
          img.box__image(src= path+box.src alt= alt)
          p.box__text= box.text
          if box.link
            a.arrow-link(href= box.link) Find out more

mixin image-slider(path, images)
  .image-slider
    .image-slider__scroll
      for image in images
        .image-slider__image-wrapper
          - const alt = image.src.split(".")[0].split("_").join(" ")
          img.image-slider__image(data-original= path+image.src alt= alt)
    .image-slider__left-control
    .image-slider__right-control

mixin cross-fader(path, images)
  - images = images.reverse()
  .cross-fader
    for image in images
      - const alt = image.src.split(".")[0].split("_").join(" ")
      img.cross-fader__image(data-src= path+image.src alt= alt)

mixin horizontal-list(items)
  ul.horizontal-list
    for item in items
      li.horizontal-list__item= item

mixin contact-form(modal)
  form.contact-form(method="post" action="php/mailer.php")
    h2.contact-form__title Get in touch
    .input-field
      input.input-field__text.input-field__text--required(type="text" name="name")
      label.input-field__label.input-field__label--text-entry(for="name") Name
    .input-field
      input.input-field__text.input-field__text--required(type="text" name="email")
      label.input-field__label.input-field__label--text-entry(for="email") Email
    .input-field
      input.input-field__text(type="text" name="date")
      label.input-field__label.input-field__label--text-entry(for="date") Event Date
    .input-field
      input.input-field__text(type="text" name="location")
      label.input-field__label.input-field__label--text-entry(for="location") Event Location
    .input-field
      textarea.input-field__text.input-field__text--required.input-field__text--textarea(name="message")
      label.input-field__label.input-field__label--text-entry(for="message") Message
    .input-field
      label.input-field__label(for="hearAbout") Where did you hear about us?
      .input-field__select-container
        select.input-field__select(name="hearAbout")
          option(value="Google") Google
          option(value="Hitched") Hitched
          option(value="Mr & Mrs Unique") Mr & Mrs Unique
          option(value="Love Sussex Weddings") Love Sussex Weddings
          option(value="Flyer") Flyer
          option(value="Other") Other
    .input-field
      .g-recaptcha(data-sitekey="6Lcqax0UAAAAAFHBHHX3pzND-dPRvR5xSXAsmAHK")
    button.btn.btn--light.btn--full-width.js-btn-send(type="submit") Send
    p.contact-form__status

    if modal
      .modal__close &times;

mixin modal()
  .modal
    +contact-form(true)

mixin contact-btn()
  a.btn.btn--light.js-btn-contact(href="javascript:void(0)") Contact us
  +modal()
