extends layouts/3-col-boxes.pug

block vars
  - let title = "Events - Vintage Photo Booths Hire Sussex – Vintage Airstream Rental"
  - let heading = "Events"
  - let path = "images/events/"
  -
    let images = [
      {
        title: "Weddings",
        src: "wedding_photo_booth.jpg",
        text: "A unique photo booth based in Sussex, great for vintage inspired weddings.",
      },
      {
        title: "Parties",
        src: "party_photo_booth_sussex.jpg",
        text: "Airstream Studio is perfect for party entertainment and fun photo memories.",
      },
      {
        title: "Corporate",
        src: "corporate_event_photo_booth.jpg",
        text: "We love corporate events, parties and team events. You company logo and branding can be added to photo prints.",
      },
      {
        title: "School Prom",
        src: "school_prom_photo_booth.jpg",
        text: "Pupils love having their photos taken in the airstream photo booth and sharing them with social media.",
      },
      {
        title: "Christmas",
        src: "christmas_photo_booth.jpg",
        text: "Our specially created winter wonderland backdrop is perfect for seasonal photos and Santa’s Grotto.",
      },
      {
        title: "Halloween",
        src: "spooky_photobooth.jpg",
        text: "We love halloween photo booth events and fancy dress.",
      },
      {
        title: "Children's Parties",
        src: "kids_party_photo_booth.jpg",
        text: "Kids love the wide selection of photo booth props and create really fun photos.",
      },
      {
        title: "Location Hire",
        src: "film_location_hire_sussex.jpg",
        text: "The 1949 vintage airstream is available as a location for film, TV and photography. We are happy to talk with you about adapting the layout to your requirements.",
      },
      {
        title: "Charity",
        src: "charity_photo_booth.jpg",
        text: "We offer a discount to charities for photo booth events.",
      },
    ]
