extends layouts/3-col-boxes.pug

block vars
  - let title = "Events - Vintage Photo Booths Hire Sussex – Vintage Airstream Rental"
  - let heading = "Events"
  - let path = "images/events/"
  -
    let images = [
      {
        title: "Weddings",
        src: "wedding_photo_booth.jpg",
        text: "",
      },
      {
        title: "Parties",
        src: "party_photo_booth_sussex.jpg",
        text: "",
      },
      {
        title: "Corporate",
        src: "corporate_event_photo_booth.jpg",
        text: "",
      },
      {
        title: "School prom",
        src: "school_prom_photo_booth.jpg",
        text: "",
      },
      {
        title: "Christmas",
        src: "christmas_photo_booth.jpg",
        text: "",
      },
      {
        title: "Halloween",
        src: "spooky_photobooth.jpg",
        text: "",
      },
      {
        title: "Children's Parties",
        src: "kids_party_photo_booth.jpg",
        text: "",
      },
      {
        title: "Film",
        src: "film_location_hire_sussex.jpg",
        text: "",
      },
      {
        title: "Charity",
        src: "charity_photo_booth.jpg",
        text: "",
      },
    ]
