extends layouts/booth-aspect.pug

block vars
  - let title = "Exterior - Vintage Photo Booths Hire Sussex – Vintage Airstream Rental"
  - let path = "images/exterior/"
  -
    let images = [
      {
        src: "festival_wedding_photo_booth_close_up.jpg",
      },
      {
        src: "airstream_photo_booth_sussex.jpg",
      },
      {
        src: "unique_photo_booth.jpg",
      },
      {
        src: "wedding_photo_booth_sussex.jpg",
      },
      {
        src: "vintage_wedding_photo_booth.jpg",
      },
      {
        src: "festival_wedding_photo_booth.jpg",
      },
      {
        src: "wedding_fireworks.jpg",
      },
      {
        src: "festival_wedding_fireworks.jpg",
      },
      {
        src: "corporate_event_photo_booth.jpg",
      },
      {
        src: "country_house_wedding_photo_booth.jpg",
      },
      {
        src: "airstream_photo_booth_sussex_close_up.jpg",
      },
      {
        src: "festival_wedding_airstream.jpg",
      },
      {
        src: "retro_photo_booth_brighton.jpg",
      },
      {
        src: "vintage_airstream_photo_booth.jpg",
      },
      {
        src: "airstream_boho_wedding.jpg",
      },
      {
        src: "farm_wedding_airstream.jpg",
      },
      {
        src: "vintage_airstream_dawn.jpg",
      },
    ]
  - let heading = "Vintage Airstream"
  -
    let text = `A rare vintage airstream “Betsie”, was built back in 1949 and was model number 15 of 40 that were ever built. Bestie now sits on a new chassis and has been lovingly restored inside and out. We spend hours polishing the outside panels to a mirror finish so that the airstream looks great at your event. It makes a great backdrop for wedding photos and looks stunning at venues`
