extends layouts/booth-aspect.pug

block vars
  - let title = "Guest Books - Vintage Photo Booths Hire Sussex – Vintage Airstream Rental"
  - let path = "images/guest_book/"
  -
    let images = [
      {
        src: "photo_booth_guest_book.jpg",
      },
      {
        src: "personalised_wedding_photo_album.jpg",
      },
      {
        src: "wedding_guest_book.jpg",
      },
      {
        src: "guest_book_seating_booth.jpg",
      },
      {
        src: "photo_booth_guest_book_girl.jpg",
      },
      {
        src: "custom_wedding_guest_book.jpg",
      },
      {
        src: "guest_book_stickers.jpg",
      },
    ]
  - let heading = "Guest Books"
  -
    let text = `Wedding guest books are a perfect way to reminisce and remember your big day. Choose one of our beautifully bound photo albums, custom printed with your names and date. Your guests will love adding their photo booth shots and writing personal messages to you and at the end of the evening you will take a home a fantastic book full of fun memories. The retro seating booth has room for several guests, a large table and beautiful complimentary stickers and pens`
