extends layouts/main.pug
include includes/mixins.pug

mixin stars()
  - for (i = 0; i < 5; i++) {
      span ★
  - }

block vars
  - let title = "Vintage Photo Booths Hire Sussex – Vintage Airstream Rental"
  - let bodyClasses = ["home"]

block content
  section.section
    .cross-fader
      img.cross-fader__image(src="images/airstream_summer_wedding.jpg")
      img.cross-fader__image(src="images/airstream_wedding_fireworks.jpg")
      img.cross-fader__image(src="images/vintage_airstream_photo_booth.jpg")

  section.section
    +3-col-boxes([
      {
        title: "Exterior",
        src: "images/vintage_airstream_wedding.jpg",
        alt: "",
        text: "Sed maximus, ipsum rhoncus fermentumdignissim, sapien ligula rhoncus mi, quisrutrum quam eros eget massa. Duis lobortis, nunc non tincidunt vehicula, urna quam finibus velit",
        link: "exterior.html"
      },
      {
        title: "Photo booth",
        src: "images/airstream_photo_booth.jpg",
        alt: "",
        text: "Donec blandit facilisis dignissim. Aliquam mattis metus luctus nibh sodales, et pulvinar neque dictum. Nullam feugiat pharetra quam sit amet ultricies",
        link: "photo-booth.html"
      },
      {
        title: "Interior",
        src: "images/photo_booth_camera.jpg",
        alt: "",
        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis hendrerit turpis, a egestas ex. Fusce rhoncus diam neque, eu venenatis libero blandit et. Quisque",
        link: "interior.html"
      }
    ])

  section.section
    .loader
    .stars
      .stars__top(data-aos="fill-stars" data-aos-duration="600" data-aos-offset="300")
        +stars()
      .stars__bottom
        +stars()
    .review-container.row.align-center
      .small-12.medium-5
      .small-12.medium-5

block prepend scripts
  #fb-root
  script(src='https://connect.facebook.net/en_GB/sdk.js')
  script.
    FB.init({
      appId            : '247871935641546',
      xfbml            : true,
      version          : 'v2.10'
    });
