extends layouts/main.pug

mixin home-box(title, image, text)
  .column.large-4.medium-6.small-12.bottom-spacer
    .box
      h2.box__title= title
      img.box__image(src= image)
      p.box__text= text
      a.arrow-link(href="#") Find out more

mixin stars()
  - for (i = 0; i < 5; i++) {
    span ★
  - }

block title 
  | Vintage Photo Booths Hire Sussex – Vintage Airstream Rental
  
block content
  .cross-fader
    img.cross-fader__image(src="images/fader-3.jpg")
    img.cross-fader__image(src="images/fader-2.jpg")
    img.cross-fader__image(src="images/fader-1.jpg")
    
  .row.bottom-spacer--xl
    +home-box("Exterior", "images/exterior-home.jpg", "Sed maximus, ipsum rhoncus fermentumdignissim, sapien ligula rhoncus mi, quisrutrum quam eros eget massa. Duis lobortis, nunc non tincidunt vehicula, urna quam finibus velit")
    +home-box("Photo booth", "images/photo-booth-home.jpg", "Donec blandit facilisis dignissim. Aliquam mattis metus luctus nibh sodales, et pulvinar neque dictum. Nullam feugiat pharetra quam sit amet ultricies")
    +home-box("Interior", "images/interior-home.jpg", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis hendrerit turpis, a egestas ex. Fusce rhoncus diam neque, eu venenatis libero blandit et. Quisque")
    
  .facebook
    .facebook__loader
    .facebook__stars.bottom-spacer--xl
      .facebook__stars--top(data-aos="rating" data-aos-duration="600" data-aos-offset="300")
        +stars()
      .facebook__stars--bottom
        +stars()
    .facebook__container.row.align-center
      .small-12.medium-5
      .small-12.medium-5
      
    
      

block append scripts
  script(src="js/index.js")
    
