extends layouts/main.pug
include includes/mixins.pug

mixin stars()
  - for (i = 0; i < 5; i++) {
      span ★
  - }

block vars
  - let title = "Vintage Photo Booths Hire Sussex – Vintage Airstream Rental"
  - let bodyClasses = ["home"]

block content
  section.section
    +cross-fader("images/cross_fader/",
    [
      {
        src: "airstream_photo_booth_sussex.jpg",
      },
      {
        src: "vintage_airstream_photo_booth.jpg",
      },
      {
        src: "photo_booth_sussex.jpg",
      },
      {
        src: "may_petite_alt_model.jpg",
      },
      {
        src: "vintage_wedding_photo_booth_sussex.jpg",
      },
      {
        src: "vintage_photo_booth.jpg",
      },
      {
        src: "wedding_vehicle_sussex.jpg",
      },
      {
        src: "luxury_photo_booth.jpg",
      },
      {
        src: "photo_booth_pose.jpg",
      },
      {
        src: "unique_photo_booth_fun.jpg",
      },
      {
        src: "unique_photo_booth_sussex.jpg",
      },
      {
        src: "event_photo_booth.jpg",
      },
      {
        src: "photo_booth_stately_home_wedding.jpg",
      },
      {
        src: "airstream_dawn_photo.jpg",
      },
      {
        src: "dupenny_illustration.jpg",
      }
    ])

  section.section
    +3-col-boxes("images/aspects/", [
      {
        title: "Exterior",
        src: "vintage_airstream_photo_booth_hire.jpg",
        text: "A rare 1949 vintage airstream trailer which has been lovingly restored with a mirror polished exterior. A stunning backdrop to your wedding, party or event.",
        link: "exterior.html"
      },
      {
        title: "Photo booth",
        src: "airstream_studio_photo_booth_sussex.jpg",
        text: "A unique photo booth set inside a vintage airstream. Capture beautiful memories in a vintage inspired photo set, with professional lighting and instant photo printing.",
        link: "photo-booth.html"
      },
      {
        title: "Interior",
        src: "unique_photo_booth_hire_sussex.jpg",
        text: "A retro 1950’s styled interior with a luxury seating booth, bespoke units and a huge selection of unique and creative props.",
        link: "interior.html"
      }
    ])

  section.section
    .loader
    .stars
      .stars__top(data-aos="fill-stars" data-aos-duration="600" data-aos-offset="300")
        +stars()
      .stars__bottom
        +stars()
    .review-container.row.align-center
      .small-12.medium-5
      .small-12.medium-5

block prepend footer-scripts
  #fb-root
  script(src="https://connect.facebook.net/en_GB/sdk.js")
  script.
    FB.init({
      appId            : '247871935641546',
      xfbml            : true,
      version          : 'v2.10'
    });
