extends layouts/booth-aspect.pug

block vars
  - let title = "Interior - Vintage Photo Booths Hire Sussex – Vintage Airstream Rental"
  - let path = "images/interior/"
  -
    let images = [
      {
        src: "photo_booth_props.jpg",
      },
      {
        src: "airstream_photo_booth_sussex.jpg",
      },
      {
        src: "vintage_photo_booth_props.jpg",
      },
      {
        src: "airstream_guest_book_area.jpg",
      },
      {
        src: "vintage_candy_dispenser.jpg",
      },
      {
        src: "photo_booth_guest.jpg",
      },
      {
        src: "airstream_photo_booth_camera_box.jpg",
      },
      {
        src: "airstream_studio_seating_booth.jpg",
      },
      {
        src: "wedding_guest_book_and_stickers.jpg",
      },
      {
        src: "jelly_bean_dispenser.jpg",
      },
      {
        src: "photo_booth_guests.jpg",
      },
      {
        src: "photo_booth_guest_seating_booth.jpg",
      },
      {
        src: "wedding_guest_book_signing_table.jpg",
      },
    ]
  - let heading = "Airstream Interior"
  -
    let text = `Inside the highly polished airstream, is a lovingly crafted 1950’s inspired interior. Guests can relax in a luxury seating booth surrounded by fairground lights and add their photos to a your guest book. A converted 1950’s radio. plays vintage songs. It’s not just a photo booth, it’s a whole extra venue for your event. Airstream Studio is climate controlled for cool summers and warm winters`
