extends layouts/main.pug

block title
  | Vintage Photo Booths Hire Sussex – Vintage Airstream Rental

block prepend body
  body.interior

block content
  .image-slider
    //+image-slider-image("images/interior-1.jpg")
