extends layouts/main.pug
include includes/mixins.pug

mixin service(title, from, price)
  .service
    h3.service__title= title
    if from
      span.service__title From
    - if (!isNaN(price))
      span.service__price.service__price--currency  £
    span.service__price= price

block vars
  - let title = "Pricing - Vintage Photo Booths Hire Sussex – Vintage Airstream Rental"

block content
  section.section
    h2.title
      - const year = (new Date()).getFullYear()
      span.date= year
      |  Prices
    .row
      .column.medium-4.small-12
        +service("3 hours", true, "650")
      .column.medium-4.small-12
        +service("4 hours", true, "750")
      .column.medium-4.small-12
        +service("5 hours", true, "850")
    .row.align-center
      .column.medium-4.small-12
        +service("Early set up", false, "Please enquire")
      .column.medium-4.small-12
        +service("Personalised guest book", false, "50")

  section.section.section--padding-l
    h2.title Included
    +horizontal-list(["Unlimited photo printing", "Sharing with social media", "Personal photo template", "Professionally lit photo set", "2 hosts to greet & guide guests", "Climate controlled for cool summers and warm winters", "Professional editing of your shots", "A digital copy for you to keep", "Upload your event to facebook or A private gallery"])

  section.section
    .row
      .column.medium-6.small-12
        .box.box--left
          h2.box__title.box__title--size-l Early set up
          p.box__text For an additional charge, the vintage airstream can be set up before your guests arrive. Great for wedding photos!
      .column.medium-6.small-12
        .box.box--right
          h2.box__title.box__title--size-l All day/bespoke
          p.box__text For special events, corporate parties, festivals, filming, photo shoots and extended hire, we are happy to speak with you about a bespoke hire package.
    .row
      .column.medium-6.small-12
        .box.box--left
          h2.box__title.box__title--size-l Requirements
          p.box__text -Airstream studio is 22 ft long and 7.5ft wide and will need suffcient access and a relatively at area to set up.
          p.box__text -A standard power point within 50 meters
          p.box__text -2 hours set up time, 1 hour pack away time
          p.box__text -A 50% deposit to secure your date with the balance due 30 days before your event
      .column.medium-6.small-12
        .box.box--right
          h2.box__title.box__title--size-l All day/bespoke
          p.box__text -Travel, set-up and pack away time is included within the hire cost
          p.box__text -To enable socila media sharing there must be a stable wi-fi or 4G connection. If this is not available uploads will be queued until a signal is available
          p.box__text -For early set up, the airstream will be in place but not open as a photo booth until the agreed hire time

  section.section
    +contact-btn()
