extends layouts/booth-aspect.pug
include includes/mixins.pug

block vars
  - let title = "Props & Features - Vintage Photo Booths Hire Sussex – Vintage Airstream Rental"
  - let path = "images/props_&_features/"
  -
    let images = [
      {
        src: "vintage_jelly_bean_dispenser.jpg",
      },
      {
        src: "vintage_photo_booth_props.jpg",
      },
      {
        src: "vintage_picnic_basket.jpg",
      },
      {
        src: "vintage_props.jpg",
      },
    ]
  - let heading = "Props & Features"
  -
    let text = `Inside the airstream is an abundance of fun, vintage creative and entertaining props. The vintage photo set is lit by two professional beauty dish lights that produce beautiful images all printed in high resolution from our high speed photo printer. As part of our service we also edit your photos after the event before sending you a digital copy to download and keep. We include a personalised photo template with each booking so your can have your names or event branding on all of your digital and printed photos. Two hosts are on hand to guide your guests and help them get the most out of their experience. Kids love the vintage jelly bean dispenser (vegetarian friendly), and the airstream is climate controlled for cool summers and warm winter evenings.`
