extends layouts/booth-aspect.pug
include includes/mixins.pug

block vars
  - let title = "Props & Features - Vintage Photo Booths Hire Sussex – Vintage Airstream Rental"
  - let path = "images/props_&_features/"
  -
    let images = [
      {
        src: "vintage_jelly_bean_dispenser.jpg",
      },
      {
        src: "vintage_photo_booth_props.jpg",
      },
      {
        src: "vintage_picnic_basket.jpg",
      },
      {
        src: "vintage_props.jpg",
      },
    ]
  - let heading = "Props & Features"
  -
    let text = `Hosts to help guide your guests and get the most from their experience. Climate controlled for cool summers and warm winters. Vintage jelly bean dispenser. A huge and constantly growing selection of props. Professional studio lighting. High speed photo printing. A personal photo template with your name or event branding`
