extends layouts/3-col-boxes.pug

block vars
  - let title = "Vintage Shops Sussex - Vintage Photo Booths Hire Sussex – Vintage Airstream Rental"
  - let heading = "Vintage Shops Sussex"
  - let path = "images/vintage_shops_sussex/"
  -
    let images = [
      {
        title: "Dig For Victory",
        src: "dig_for_victory.jpg",
        text: "Dig For Victory is a sustainable fashion label in Brighton, England that creates limited edition and one-off pieces from vintage and \"end-of-roll\" fabrics. Our style is inspired by the vintage glamour of the 40's and 50's, but executed with a modern twist. Our dresses are made to the highest standard by our local team of talented seamstresses. Dig For Victory! celebrates the history of fashion to be found in a wealth of vintage textiles",
      },
      {
        title: "Dolly and Dotty",
        src: "dolly_and_dotty.png",
        text: "Created from a love of 1950's fashion, Dolly and Dotty is about creating the most fabulous vintage inspired fashion with a modern flattering fit. We aim to provide our customers with outstanding service, high quality products and beautiful retro prints, all at an affordable price. Whether you're a rockabilly rebel, you have floral fever or youre a day dress diva, we have something for you! All of our dresses are designed in Brighton, by our wonderful design team",
      },
      {
        title: "Retro Daisy",
        src: "retro_daisy.jpg",
        text: "Retro Daisy loves vintage glamour with a modern twist! Helping you to discover your inner pin-up, with all you need to bring out the Hollywood Starlet or Vintage Vixen in you! Stocking a wide selection of faux vintage clothing and accessories sourced from as far away as Hollywood itself to just next door in Brighton! When you walk through Retro Daisy's door you'll find wiggle and bombshell dresses, original vintage and unique dresses cut from 1940's, 50's and 60's patterns",
      },
      {
        title: "Collectif",
        src: "collectif.jpg",
        text: "With their own brand of vintage clothing and stockist of leading brands of vintage clothing and with stores in Brighton and London, Collectif is well worth a visit",
      },
    ]
