extends layouts/3-col-boxes.pug

block vars
  - let title = "Vintage Wedding Suppliers - Vintage Photo Booths Hire Sussex – Vintage Airstream Rental"
  - let heading = "Vintage Wedding Suppliers"
  - let path = "images/vintage_wedding_suppliers/"
  -
    let images = [
      {
        title: "Gin & Bear it",
        src: "gin_&_bear_it.jpg",
        text: "Brighton's own Morris Minor based Gin Bar Gin and Bear It!® supply a professional mobile gin bar service for your special occasion. If you need a birthday bar, wedding bar, corporate bar or any other type of event bar, we have it covered",
      },
      {
        title: "Falcon Wedding Cars",
        src: "falcon_wedding_cars.jpg",
        text: "Falcon Wedding Cars in East Sussex are dedicated to providing the perfect classic vintage wedding car hire. We cover all areas of East Sussex and West Sussex including Brighton and Eastbourne. Let us help you make your wedding day extra special",
      },
      {
        title: "Slinn Hawkins Weddings",
        src: "slinn_hawkins_weddings.png",
        text: "Tell me what you’ve always hoped your wedding would be and we will work together to make your dream a reality",
      },
      {
        title: "Elizabeth Avey Wedding Dresses",
        src: "elizabeth_avey_wedding_dresses.png",
        text: "A breath-taking vintage wedding dress l-collection.",
      },
    ]
