extends layouts/3-col-boxes.pug

block vars
  - let title = "Vintage Events - Vintage Photo Booths Hire Sussex – Vintage Airstream Rental"
  - let heading = "Vintage Events"
  - let path = "images/vintage_events/"
  -
    let images = [
      {
        title: "Atomic",
        src: "atomic.jpg",
        text: "Visit the fantastic vintage market for a wide range of vintage and top-quality reproduction clothes, shoes and accessories, plus records, CDs, homewares and collectibles. Enjoy the world’s top Rock’n’Roll, Rhythm & Blues and Rockabilly bands, with an added dash of Western Swing, Blues and Boogie Woogie thrown in",
      },
      {
        title: "Juke Box & Retro Fair",
        src: "jukebox_fair.png",
        text: "The Jukebox & Retro Fair is recognised as the UK’s leading retail fair for Jukeboxes. If you’ve ever fancied getting a jukebox, then you really should visit this fair before you purchase. With leading European dealers selling all makes of jukes, there is bound to be something to catch your eye and hopefully fit your budget",
      },
      {
        title: "Festival of Vintage",
        src: "festival_of_vintage.jpg",
        text: "Live Music from 1930's-1960's Fashion Parades, Displays, Dancing, Classic Vehicles & 150 of the UK's Best Vintage Specialists",
      },
    ]
