extends main.pug
include ../includes/mixins.pug

block content
  section.section
    +image-slider(images)

  section.section
    h1.title.title--underline #{heading}
    .text-wrapper
        p #{text}
    a.btn.btn--light(href="contact.html") Contact us
