block vars
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title}
    link(rel="stylesheet" href="css/bundle.css")
  body(class=bodyClasses)
    block facebook
    .wrapper
      block header
          nav.nav.primary-nav.clearfix
            .hamburger-menu
              span.hamburger-menu__line
            ul.primary-nav__list
              .primary-nav__section.align-spaced
                li.nav__item.primary-nav__item
                  a.nav__link.primary-nav__link(href="index.html") Home
                li.nav__item.nav__item--has-sub.primary-nav__item
                  a.nav__link.nav__link--has-sub.primary-nav__link(href="javascript:void(0)") Airstream Photo Booth
                  ul.sub-nav
                    li.nav__item.sub-nav__item
                      a.nav__link.sub-nav__link(href="interior.html") Interior
                    li.nav__item.sub-nav__item
                      a.nav__link.sub-nav__link(href="photo-booth.html") Photo Booth
                    li.nav__item.sub-nav__item
                      a.nav__link.sub-nav__link(href="exterior.html") Exterior
                    li.nav__item.sub-nav__item
                      a.nav__link.sub-nav__link(href="guest-books.html") Guest Books
                    li.nav__item.sub-nav__item
                      a.nav__link.sub-nav__link(href="probs-&-features.html") Props & Features
                    li.nav__item.sub-nav__item
                      a.nav__link.sub-nav__link(href="events.html") Events
              .primary-nav__section.align-center
                li.nav__item.primary-nav__item
                  a(href="index.html")
                    img.primary-nav__logo(src="images/airstream_studio_logo.png")
              .primary-nav__section.align-spaced
                li.nav__item.primary-nav__item
                  a.nav__link.primary-nav__link(href="pricing.html") Pricing
                li.nav__item.primary-nav__item
                  a.nav__link.primary-nav__link(href="social-media.html") Social Media
                li.nav__item.primary-nav__item
                  a.nav__link.primary-nav__link(href="contact.html") Contact

      block content

      block footer
        footer.footer
          .row
            .medium-4.small-12
              nav.nav.list-nav
                ul.list-nav__list
                  li.nav__item.list-nav__item
                    a.nav__link.list-nav__link(href="index.html") Home
                  li.nav__item.nav__item--has-sub.list-nav__item
                    a.nav__link.nav__link--has-sub.list-nav__link(href="javascript:void(0)") Airstream photo booth
                    ul.sub-nav.sub-nav--static
                      li.nav__item.sub-nav__item
                        a.nav__link.sub-nav__link(href="interior.html") Interior
                      li.nav__item.sub-nav__item
                        a.nav__link.sub-nav__link(href="photo-booth.html") Photo Booth
                      li.nav__item.sub-nav__item
                        a.nav__link.sub-nav__link(href="exterior.html") Exterior
                      li.nav__item.sub-nav__item
                        a.nav__link.sub-nav__link(href="guest-books.html") Guest Books
                      li.nav__item.sub-nav__item
                        a.nav__link.sub-nav__link(href="props-&-features.html") Props & Features
                      li.nav__item.sub-nav__item
                        a.nav__link.sub-nav__link(href="events.html") Events
                  li.nav__item.list-nav__item
                    a.nav__link.list-nav__link(href="pricing.html") pricing
                  li.nav__item.list-nav__item
                    a.nav__link.list-nav__link(href="social-media.html") Social Media
            .medium-4.small-12
              nav.nav.list-nav.bottom-spacer
                ul.list-nav__list
                  li.nav__item.list-nav__item
                    a.nav__link.list-nav__link(href="wedding-suppliers.html") Wedding suppliers
                  li.nav__item.list-nav__item
                    a.nav__link.list-nav__link(href="vintage-shops-sussex.html") Vintage shops sussex
                  li.nav__item.list-nav__item
                    a.nav__link.list-nav__link(href="vintage-events.html") Vintage events
                  li.nav__item.list-nav__item
                    a.nav__link.list-nav__link(href="contact.html") Contact
            .medium-4.small-12
              .row.align-center
                a.social-icon(href="https://www.instagram.com/airstream.studiophotobooth/" target="_blank" rel="noopener")
                  include ../includes/icons/instagram.svg
                a.social-icon(href="https://www.facebook.com/airstreamstudios/" target="_blank" rel="noopener")
                  include ../includes/icons/fb.svg
              .row.align-center
                a.social-icon(href="https://www.pinterest.com/airstreamst0274/airstream-studio-vintage-photo-booth-sussex/" target="_blank" rel="noopener")
                  include ../includes/icons/pinterest.svg
                a.social-icon(href="https://www.flickr.com/photos/155976545@N05/" target="_blank" rel="noopener")
                  include ../includes/icons/flickr.svg
              .row.align-center
                a.social-icon(href="https://twitter.com/airstreamsussex" target="_blank" rel="noopener")
                  include ../includes/icons/twitter.svg
                a.social-icon(href="https://plus.google.com/106091941708335708484" target="_blank" rel="noopener")
                  include ../includes/icons/g+.svg

    block scripts
      script(src="js/main.js")
