.arrow-link
  @include font-size(15px)
  font-family: marketDeco
  color: $black
  text-decoration: none
  padding: 0.6rem
  transition: all 0.2s ease-out
  &:after
    content: "\25B6"
    position: relative
    left: 2px
    top: -2px
    font-size: 1em
  &:hover
    color: $white
    background-color: $black
